# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.whl
*.tar.gz

# VSCode
.vscode/

# Test/coverage
htmlcov/
.coverage
.tox/

# OS
.DS_Store
Thumbs.db

# BDL workflow
BDL/output/

# Python virtual environments
venv/
.venv/
env/
